<!DOCTYPE html>
<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            text-align: left;
        }
        table {
            width: 50%;
        }

        td.key {
            width: 25%;
        }

        td.value {
            width: 25%;
        }
    </style>
</head>

<body>

    <h2>IP Details</h2>

    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>

        </tr>
        {% for key, value in param_values.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}

    </table>

    <h2>Browser Details</h2>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>

        </tr>

        <tr>
            <td>Browser Name</td>
            <td>{{ ua_details.get('browser', {}).get('name')}}</td>
        </tr>

        <tr>
            <td>Browser Version</td>
            <td>{{ ua_details.get('browser', {}).get('version')}}</td>
        </tr>
    </table>
    <h2>OS Details</h2>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>OS Name</td>
            <td>{{ ua_details.get('operating_system', {}).get('name')}}</td>
        </tr>
        <tr>
            <td>OS Version</td>
            <td>{{ ua_details.get('operating_system', {}).get('version')}}</td>
        </tr>
    </table>
    <h2>Device Details</h2>
    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>

        <tr>
            <td>device type</td>
            <td>{{ ua_details.get('device', {}).get('type')}}</td>
        </tr>
        <tr>
            <td>device (is mobile?)</td>
            <td>{{ ua_details.get('device', {}).get('is_mobile')}}</td>
        </tr>
        <tr>
            <td>device (is tablet?)</td>
            <td>{{ ua_details.get('device', {}).get('is_tablet')}}</td>
        </tr>
        <tr>
            <td>device (is pc?)</td>
            <td>{{ ua_details.get('device', {}).get('is_pc')}}</td>
        </tr>
    </table>

    <h2>Location Details</h2>

    <table>
        <tr>
            <th>Parameter</th>
            <th>Value</th>

        </tr>
        {% for key, value in geo_details.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>